.gradient-text {
  background: linear-gradient(45deg, #52af79, #3283c5);
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* WebKit-specific */
  color: transparent; /* Hide original text */
}
li a {
  color: black;
  display: flex;
  align-items: center;
}
.body-img {
  background-image: url("./assets/images/athlete-running.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.body-sl-img {
  display: flex;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 100px;
  background-color: #002b58;
  margin: 6px;
  border-radius: 10px;
  justify-content: center;
  align-items: end;
  padding: 5px;
}

.material-symbols--search {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}

.eva-img {
  background-image: linear-gradient(to bottom, #2676c700 0%, #002b58 80%),
    url("./assets/images/evaluation.avif");
  background-size: cover;
  background-position: center;
  min-height: 45vh;
  max-width: 34vh;
  margin: 1rem;
}
.edu-img {
  background-image: linear-gradient(to bottom, #2676c700 0%, #002b58 80%),
    url("./assets/images/education.webp");
  background-size: cover;
  background-position: center;
  min-height: 45vh;
  max-width: 34vh;
  margin: 1rem;
}
.pro-img {
  background-image: linear-gradient(to bottom, #2676c700 0%, #002b58 80%),
    url("./assets/images/provider.avif");
  background-size: cover;
  background-position: left;
  min-height: 45vh;
  max-width: 34vh;
  margin: 1rem;
}
.solar--round-arrow-right-outline {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' fill-rule='evenodd' d='M12 2.75a9.25 9.25 0 1 0 0 18.5a9.25 9.25 0 0 0 0-18.5M1.25 12C1.25 6.063 6.063 1.25 12 1.25S22.75 6.063 22.75 12S17.937 22.75 12 22.75S1.25 17.937 1.25 12m11.22-3.53a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H8a.75.75 0 0 1 0-1.5h6.19l-1.72-1.72a.75.75 0 0 1 0-1.06' clip-rule='evenodd'/%3E%3C/svg%3E");
}
.fluent--ios-arrow-right-24-filled {
  display: flex;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M11.273 3.687a1 1 0 1 1 1.454-1.374l8.5 9a1 1 0 0 1 0 1.374l-8.5 9.001a1 1 0 1 1-1.454-1.373L19.125 12z'/%3E%3C/svg%3E");
}
h4 {
  font-size: 1.3rem;
}
.card_Link {
  display: flex;
  align-items: center;
}
.card_Link > a {
  text-decoration: none;
  color: #0579af;
}
.ei--arrow-right {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230579af' d='M12 15.289L15.288 12L12 8.711l-.688.689l2.1 2.1H8.5v1h4.912l-2.1 2.1zM12.003 21q-1.867 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.709-3.51Q4.417 6.85 5.63 5.634t2.857-1.925T11.997 3t3.51.709q1.643.708 2.859 1.922t1.925 2.857t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709M12 20q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
}

.card-body > h4 {
  display: flex;
  align-items: center;
  margin: 0px;
}

.fluent--mail-48-filled {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='white' d='M4.02 13.747A6.25 6.25 0 0 1 10.25 8h27.5a6.25 6.25 0 0 1 6.236 5.828L24.002 24.35zM4 16.567V33.75A6.25 6.25 0 0 0 10.25 40h27.5A6.25 6.25 0 0 0 44 33.75V16.646L24.582 26.87a1.25 1.25 0 0 1-1.168-.002z'/%3E%3C/svg%3E");
}
.doc_img {
  background: linear-gradient(to bottom, #044586 50%, #ffffff 50%);
}
.fluent--navigation-16-filled {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='black' d='M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75m0 4A.75.75 0 0 1 2.75 7h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 7.75m0 4a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
}
*::-webkit-scrollbar {
  display: none;
}
